body{
  background-image: url(mymind-XUlsF9LYeVk-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}


.container{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -175px;
  
  height: 420px;
  width: 370px;
  border: 2px solid rgb(23, 23, 23);
  border-radius: 10px;

  background-color: rgba(12, 12, 12, 0.153);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  
}
.js-city-name{

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 40px;
  width: 160px;
  height: 30px;
  border-radius: 25px;
  padding-left: 100px;
  border-color: rgb(162, 143, 143);


}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
   
}



/* Style the submit button */
.enter-button {
  float: right;
  background-color: rgb(255, 255, 255) ;
  background-image: url(search_FILL0_wght400_GRAD0_opsz24.png);
  border: 1px solid rgba(255, 255, 255, 0.995);
  padding: 2px;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-left: -40px;
  margin-right: 50px;
}

.enter-button:hover {
 background-color:rgba(6, 6, 6, 0.156);
}
.temp{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 80px;
 
}
.city-name{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: aliceblue;
 

}
.weather-pics{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin-left: 150px;
  
}
.footer{
  
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.humidity{
  
  color: white;
  font-size: 60px;
  margin-left: 10px;

}
.end-footer{
margin-left: 10px;
  color: white;
  margin-top: -15px;
}
.condition-name{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 150px;
}

.error{
 font-family: monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 600px;
 
  font-size: 20px;


}

@media only screen and (max-width: 450px) {
  body {
    background-image: url(Safeimagekit-resized-img.png);
    background-position: 0px 10px;
    background-repeat: no-repeat;
    background-size: cover;
 
  
  }
  .container{
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    height: 350px;
    width: 360px;
    border-color: white;
  }
}
