body{
  background-image: url(pexels-pixabay-33545.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


.container{
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -175px;
  
  height: 400px;
  width: 350px;
  border: 2px solid rgb(23, 23, 23);
  border-radius: 10px;
  /* background-image: url(wallpaperflare.com_wallpaper\ \(2\).jpg); */
  background-color: rgba(12, 12, 12, 0.153);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  
}
.js-city-name{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -20px;
  width: 160px;
  height: 30px;
  border-radius: 25px;
  padding-left: 100px;
  border-color: rgb(162, 143, 143);


}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
   
}



/* Style the submit button */
.enter-button {
  float: right;
  background-color: rgb(255, 255, 255) ;
  background-image: url(search_FILL0_wght400_GRAD0_opsz24.png);
  border: 1px solid rgba(255, 255, 255, 0.995);
  padding: 2px;
  background-repeat: no-repeat;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-left: -40px;
  margin-right: 50px;
}

.enter-button:hover {
 background-color:rgba(6, 6, 6, 0.156);
}
.temp{

  color: white;
  font-size: 80px;
  margin-left: 90px;
  margin-top: -20px;
}
.city-name{
  font-size: 30px;
  color: aliceblue;
  margin-left: 110px ;

}
.weather-pics{
  height: 100px;
  margin-left: 110px;
}
.footer{
  
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.humidity{
  
  color: white;
  font-size: 60px;

}
.end-footer{
  
  color: white;
  margin-top: -15px;
}
.condition-name{
  margin-left: 150px;
}